/*
  TODO:

  - arrows on bottom right to see articles/preview slide in 

  - chistian
  - learning curves
  - leadership


*/
html {
  font-size: 20px;
  font-family: 'Lexend Deca';
  color: black;
  text-align: center; }

@media only screen and (max-width: 1400px) {
  html {
    font-size: 17px; } }
body {
  margin: 0;
  overflow-y: hidden; }

#triangulation {
  width: 100%;
  height: 100vh; }

polygon {
  stroke: white;
  stroke-width: 1px; }

#container {
  display: flex;
  width: 100%;
  height: 100vh;
  background: linear-gradient(40deg, rgba(0, 134, 211, 0.568) 0%, rgba(0, 35, 133, 0.568) 100%);
  position: absolute;
  top: 0; }

.main-content {
  width: 25rem;
  margin: auto;
  margin-top: 0rem;
  display: block; }

.header {
  border-radius: 8px;
  padding: 4rem;
  margin-top: 4rem;
  background: white; }

.desc {
  border-radius: 8px;
  padding: 4rem;
  margin-top: 4rem;
  background: white; }

.left-collumn {
  background: linear-gradient(40deg, #4b5357 0%, #29475e 100%);
  height: 100vh;
  z-index: 10;
  width: 8rem;
  border-right: groove;
  border-color: white;
  text-align: center; }

.left-collumn-link {
  color: white;
  margin-top: 9vh; }

.left-collumn-link a {
  color: white;
  text-decoration: none; }

.left-collumn-link a:hover {
  color: #81a9dd; }

.left-collumn-divider {
  border-bottom: solid;
  border-color: white;
  margin: 10vh 3rem 10vh 3rem; }

.left-collumn-nav {
  width: 1rem;
  margin: auto;
  color: white;
  text-decoration: underline;
  margin-bottom: 4vh; }

.left-collumn-nav a {
  color: white;
  text-decoration: none; }

.left-collumn-nav a:hover {
  color: #81a9dd; }
