
html {
  font-size: 18px;
  font-family: monospace;
  color: rgb(0, 0, 0);
  text-align: center;
}

body {
  margin: 0;
}

#container {
  width: 100%;
  height: 100vh;
}

polygon {
  //stroke: rgb(255, 255, 255);
  stroke-width: 1px;
  //fill-rule: evenodd;
}

#root {
  width: 100%;
  height: 100vh;
  background:  linear-gradient(40deg, rgba(34, 122, 172, 0.452) 0%, rgba(13, 184, 56, 0.4) 100%); 
  position: absolute;
  top: 0;
}