html {
  font-size: 14px;
  background-color: #ffffff; }

body {
  margin: 0%;
  padding: 0%;
  font-size: 2rem;
  font-family: 'DM Sans'; }

.container {
  margin: auto;
  text-align: center;
  width: 70%; }

.front-text {
  margin-top: 2%; }

.front-title {
  margin-top: 5%;
  font-size: 2em;
  font-family: "Lexend Deca";
  background: -webkit-linear-gradient(#2d72ac, #3dc566);
  background: -moz-linear-gradient(#2d72ac, #3dc566);
  background: -o-linear-gradient(#2d72ac, #3dc566);
  background: linear-gradient(#2d72ac, #3dc566);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
  color: transparent; }

.footer {
  margin-top: 3%;
  color: #eaeaea;
  background-color: #272727;
  padding-bottom: 8%; }

.footer-links {
  margin-top: 2%;
  margin-left: 10%; }

.footer-border {
  font-size: 0; }

.front-links {
  margin-top: 2%; }

.about {
  text-align: left; }

.projects {
  text-align: left; }

.title {
  font-weight: bold;
  font-size: 1.0em;
  margin: 2rem;
  margin-top: 3rem; }

.title span {
  background: -webkit-linear-gradient(#cf7474, #eb8f27d9);
  background: -moz-linear-gradient(#cf7474, #eb8f27d9);
  background: -o-linear-gradient(#cf7474, #eb8f27d9);
  background: linear-gradient(#cf7474, #eb8f27d9);
  color: white;
  padding: 0.75rem 2rem 0.75rem 2rem;
  border-radius: 0.5rem; }

.body {
  margin-top: 6%;
  font-size: 0.7em;
  width: 55%; }

.projects-list {
  font-size: 0.7em;
  margin-top: 5%; }

.projects-box {
  display: flex; }

a {
  color: inherit; }

.projects-title {
  font-size: 1.2em;
  margin-top: 3%;
  color: #3186a7; }

.projects-desp {
  margin-top: 10%;
  margin-bottom: 5%; }
