
html {
  font-family: 'DM Sans';
  font-size: 26px;
}

body {
  margin: 0;
  padding: 0;
}



.name {
  margin-top: 1rem;
  margin-left: 1rem;
  color: rgb(40, 146, 111);
  font-size: 1.5rem;
}

.intro-card {
  margin-top: 1rem;
  color: white;
  background: rgb(78, 78, 146);
  padding: 5rem;
  width: 14rem;
  text-align: center;
}

.projects-card {
  float: right;
  width: 30rem;
  padding: 2rem;
  color: white;
  background: #587e99 linear-gradient(0deg, #487771 0%, rgba(55,171,255,0) 100%);
}

.projects-card-intro {
  margin-left: 4rem;
  margin-right: 4rem;
}

.projects-card-binding {
  position: absolute;
  color: white;
  margin-top: 2rem;
  width: 70%;
  left: 0;
  background: black;
  padding: 2rem;
}

.projects-card-desc {
  margin-left: 4rem;
  margin-right: 4rem;  
  margin-top: 8rem;
}